*filter
:INPUT {{ ipset_iptables_default_input_policy|upper }}
:FORWARD {{ ipset_iptables_default_forward_policy|upper }}
:OUTPUT {{ ipset_iptables_default_output_policy|upper }}
{% if ipset_iptables_default_input_policy|upper != "ACCEPT" %}
-A INPUT -i lo -j ACCEPT
-A INPUT {{ ipset_iptables_connection_state_mode }} related,established -j ACCEPT
{% endif %}
{% if ipset_iptables_default_output_policy|upper != "ACCEPT" %}
-A OUTPUT -o lo -j ACCEPT
-A OUTPUT {{ ipset_iptables_connection_state_mode }} established -j ACCEPT
{% endif %}
{% if ipset_iptables_default_allow_output_ports is defined %}
{%   if ipset_iptables_default_output_policy|upper != "ACCEPT" %}
{%     for _allow_port in ipset_iptables_default_allow_output_ports %}
-A OUTPUT -p {{ _allow_port['protocol'] }} -m multiport --dports {{ _allow_port['ports']|join(',') }} {{ ipset_iptables_connection_state_mode }} new -j ACCEPT
{%     endfor %}
{%   endif %}
{% endif %}
{% if ipset_rules is defined %}
{%   for _ipset_rule in ipset_rules %}
{%     if _ipset_rule['state'] == "present" %}
-A {{ _ipset_rule['chain']|upper }}
{%-      if _ipset_rule['protocol'] is defined %} -p {{ _ipset_rule['protocol'] }}{% endif %}
{%-      if _ipset_rule['sports'] is defined %} -m multiport --sports {{ _ipset_rule['sports']|join(',') }}{% endif %}
{%-      if _ipset_rule['dports'] is defined %} -m multiport --dports {{ _ipset_rule['dports']|join(',') }}{% endif %}
{%-        if _ipset_rule['chain']|upper == "INPUT" %}
 {{ ipset_iptables_connection_state_mode }} new -m set --match-set {{ _ipset_rule['name'] }} src -j {{ _ipset_rule['policy']|upper }}
{%         elif _ipset_rule['chain']|upper == "FORWARD" %}
 {{ ipset_iptables_connection_state_mode }} new -m set --match-set {{ _ipset_rule['name'] }} src -j {{ _ipset_rule['policy']|upper }}
 {{ ipset_iptables_connection_state_mode }} new -m set --match-set {{ _ipset_rule['name'] }} dst -j {{ _ipset_rule['policy']|upper }}
{%         elif _ipset_rule['chain']|upper == "OUTPUT" %}
 {{ ipset_iptables_connection_state_mode }} new -m set --match-set {{ _ipset_rule['name'] }} dst -j {{ _ipset_rule['policy']|upper }}
{%         endif %}
{%     endif %}
{%   endfor %}
{% endif %}
{% if ipset_enable_dshield_block_list and ipset_iptables_dshield_chains is defined %}
{%   for _chain in ipset_iptables_dshield_chains %}
{%     if _chain|upper == "INPUT" %}
-A {{ _chain|upper }} -m set --match-set dshield_block_list src -j DROP
{%     elif _chain|upper == "FORWARD" %}
-A {{ _chain|upper }} -m set --match-set dshield_block_list src -j DROP
-A {{ _chain|upper }} -m set --match-set dshield_block_list dst -j DROP
{%     elif _chain|upper == "OUTPUT" %}
-A {{ _chain|upper }} -m set --match-set dshield_block_list dst -j DROP
{%     endif %}
{%   endfor %}
{% endif %}
{% if ipset_enable_firehol_block_list and ipset_iptables_firehol_chains is defined %}
{%   for _chain in ipset_iptables_firehol_chains %}
{%     if _chain|upper == "INPUT" %}
-A {{ _chain|upper }} -m set --match-set firehol_block_list src -j DROP
{%     elif _chain|upper == "FORWARD" %}
-A {{ _chain|upper }} -m set --match-set firehol_block_list src -j DROP
-A {{ _chain|upper }} -m set --match-set firehol_block_list dst -j DROP
{%     elif _chain|upper == "OUTPUT" %}
-A {{ _chain|upper }} -m set --match-set firehol_block_list dst -j DROP
{%     endif %}
{%   endfor %}
{% endif %}
COMMIT
